@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(167, 167, 167);
    border-radius: 20px;
}

.card-content {
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

.card-active {
    height: 150px !important;
    overflow-y: auto;
}

#category-container {
    transition: .5s;
}