@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
}