/* Bloques */
.input-wrapper {
    position: relative
}

/* elemento */
.input-icon {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-120%, -50%);
}

.input-icon:hover{
    cursor: pointer;
}